html {scrollbar-width: 10px;;scrollbar-color: #D9D9D9 #fff;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*�ㅽ겕濡ㅻ컮 �ш린*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*�ㅽ겕濡� �쒕옒洹몃컮*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
::-webkit-scrollbar {width: 10px;}/*�ㅽ겕濡ㅻ컮 �ш린*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #fff;}/*�ㅽ겕濡ㅻ컮 諛곌꼍*/
::-webkit-scrollbar-thumb {background-color: #D9D9D9;border-radius: 5px;}/*�ㅽ겕濡� �쒕옒洹몃컮*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}
body, html {background-color: #F5F5F5;}
main {
    font-family:"Noto Sans KR", sans-serif;
    margin: 50px auto 0;
    letter-spacing: -0.2px; 
}
main #join_frm{
    font-family: "Noto Sans KR", sans-serif;
    width: 399px;
    margin: 20px auto 0;
    background-color: #FFFFFF;
    text-align: center;
}
main #join_frm .user_info h1{
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 20px;
    display:inline-block;
    text-align: center;
    font-weight: 700;
}
main #join_frm .user_info p{
    float: center;
    text-align: center;
    margin-bottom: 20px;
}
main #join_frm .user_info ul{
    margin-bottom:3px;
    width: 360px;
    text-align: center;
}
main #join_frm .user_info ul li{
background-color: #d0d0d0;
    align-items: left;
    float: center;
    display: inline-block;
    height: 48px;
}

main #join_frm .user_info ul li a{

}
main #join_frm .user_info dl{
    float: left;
    text-align: left;
    padding: 20px 0;
    }
main #join_frm .user_info dl dt{
    font-weight: 700;
    float: left;
    font-size:1.125rem;
    margin-bottom:10px;
    text-align: left;
    padding: 10px 0;
    width: 358px;

    }
main #join_frm .user_info dl dt dd{
    background-color: rgb(255, 149, 0);
    font-size: 0.875rem;
    letter-spacing:-0.3px;
    color:#828C94;
    float: left;
    margin-bottom:10px;
    padding: 10px 0;
}
main #join_frm .user_info dl dd input[name^=user] {
    border: 1px solid #DADCE0;
    background-color: #FFFFFF;
    font-size: 0.875rem;
    width: 168px;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom:10px;}
        
main #join_frm .user_info dl dd input[name^=user]::placeholder 
{
        color: #d0d0d0;
    }

main #join_frm .user_info dl dd select[name=email_select] {
    border: 1px solid #DADCE0;
    background-color: #FFFFFF;
    width: 168px;
    font-size: 0.875rem;
    height: 38px;
    border-radius: 3px;
    margin-bottom:10px;
}
main #join_frm .user_info dl dd .email_authentication{
    background-color: #F7F8FA;
    border: 1px solid #DADCE0;
    width: 358px;
    font-size: 1.125rem;
    padding: 14px;
    border-radius: 3px;
    color: #828C94;
    font-weight: 700;
    margin-bottom:10px;}

main #join_frm .user_info dl dd{
    margin-bottom:10px;
    font-size: 0.875rem;

}

main #join_frm .user_info dl dd input[name=Nickname]{
    border: 1px solid #DADCE0;
    width: 358px;
    font-size: 0.938rem;
    padding: 14px;
    border-radius: 3px;
    color: #828C94;
    margin-bottom:10px;
}


main #join_frm .user_info dl dd input[name=user_pw]{
    border: 1px solid #DADCE0;
    width: 358px;
    font-size: 0.938rem;
    padding: 14px;
    border-radius: 3px;
    color: #828C94;
    margin-bottom:10px;
}

main #join_frm .law_agree ul li input[name^=agree]{
font-weight: 700;

}
main #join_frm .law_agree h2{
    font-size:1.125rem;
    margin-bottom:10px;
    font-weight:700;
    margin-bottom: 12px;
    letter-spacing: -0.2px;
    text-align: left;
}
main #join_frm .law_agree ul{
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
}

main #join_frm .law_agree ul li{
    width: 340px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

main #join_frm .law_agree ul li input[name=law]
{display: none;}

main #join_frm .law_agree ul li label[for=agree_all] span

{font-size:0.75rem;
color:#828C94;}


main #join_frm .law_agree ul li label[for^=agree] span.Essential
{font-size:0.75rem;
color:#009FCE;}

main #join_frm .law_agree ul li label[for^=agree] span.Choice
{font-size:0.75rem;
color:#828C94;}

main #join_frm .sign_up {
}
main #join_frm .sign_up p button {
    background-color: #35c5f0;
    color: #fff;
    width: 100%; line-height: 50px;
    border: 0;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 700;
}
main #join_frm .sign_up p {
    font-size: 0.875rem;
    text-align: center;
    margin:0 0 30px;
}
main #join_frm .sign_up p a {
    text-decoration: underline;
}